[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/sometimesfood/chef-apt-repo.git
[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = git://github.com/fnichol/chef-rvm.git
